<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.css" rel="stylesheet"/>
        <link href="css/bootstrap-theme.css" rel="stylesheet"/>
        <script src="js/angular.js"></script>

    </head>
    <body>
        <div>Directive </div>

        <!--        <div ng-app="myPass" hello-world></div>
                <script>
                    var app = angular.module("myPass", []);
                    app.directive("helloWorld", function () {
                        return {
                            template: "MOstafizur Rahman"
        
                        };
        
                    });
        
                </script>
                <div ng-app="myApp" test-direc-test></div>
                <script src="model.js"></script>
                <script src="cont.js"></script>
                <br/>-->
        <!--        <div ng-app="" ng-init="uty = 2; price = 4">
                    uty : <input type="number" ng-model="uty"/><br/>
                    Price : <input type="number" ng-model="price"/>
        
                    <p><b>Total in dollar:</b> {{uty * price}}</p>
        
               </div> --> 
        <div ng-app="" ng-init="names = ['Mostafiz', 'Rojira', 'Sumaya']">
            <ul>
                <li ng-repeat="m in names">
                    {{m}}
                </li>
            </ul>
            <table>
                <tr>
                    <td ng-repeat="m in names"></td>
                    
                </tr>
                <tr>
                    
                      <td>{{m}}</td>
                      
                </tr>
               
            </table>
        </div>

    </body>
</html>
